<h1>Learn Enough Home page</h1>
<p>This is the home page for the Learn Enough rails project.</p>
<p>Welcome to it ! It welcomes you. Be welcome. Home, that is</p>
<p>Here's a random number <%= @number %></p>
